.navbar-expand-lg .navbar-nav .nav-link {
  color: #fff;
}

.dropdown-item:hover {
  background-color: #708090;
  color: #fff;
}

.dropdown-toggle::after {
  border-top: 0;
  border-left: 0;
}

/* Add User */
.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(24, 20, 20, 0.987);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
  border-radius: 10px;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
  top: -20px;
  left: 0;
  color: #bdb8b8;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box a:hover {
  background: #03f40f;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03f40f,
    0 0 25px #03f40f,
    0 0 50px #03f40f,
    0 0 100px #03f40f;
}

.login-box a span {
  position: absolute;
  display: block;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

.login-box a span:nth-child(1) {
  bottom: 2px;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03f40f);
  animation: btn-anim1 2s linear infinite;
}

/* User Profile */

.settings-menu {
  position: absolute;
  width: 90%;
  max-width: 350px;
  background-color: var(--bg-color);
  top: 110%;
  right: 5%;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  max-height: 0;
  transition: max-height 0.3s;
  overflow: hidden;
}

.settings-menu-display {
  max-height: 450px;
}

.settings-menu-inner {
  padding: 20px;
}

.user-profile a {
  text-decoration: none;
  font-size: 13px;
  color: #1876f2;
}

.settings-menu hr {
  margin: 10px 0;
  background-color: #9a9a9a;
  height: 1px;
}

.settings-links {
  display: flex;
  align-items: center;
  margin: 15px 0;
}

.settings-links .settings-icon {
  width: 38px;
  border-radius: 50%;
  margin-right: 10px;
}

.settings-links a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  text-decoration: none;
  color: #626262;
}

/* ShowBrand.jsx Styling */
.brand-image {
  max-width: 100px;
  /* Adjust the image width as needed */
  height: auto;
}

/* Truncate ID column */
.text-truncate {
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Center-align actions column */
.text-center.justify-content-center.align-items-center {
  display: flex-row;
  justify-content: center;
  align-items: center;
}